# Node
node_modules/
.pnpm-store/
.npmrc
pnpm-debug.log*

# Build outputs
dist/
build/
out/
.next/
.turbo/
.esbuild/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env
.env.local
.env.*.local

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Coverage
coverage/
*.lcov

# Others
*.lock
